{% extends "FOSUserBundle::layout.html.twig" %}
{% block content %}
    {% if baby is not empty %}
        <div class="row">
            <div class="col-sm-8">
                {% if baby.photos|length > 0 %}
                    {% set noProfile = true %}
                    {% for photo in baby.photos %}
                        {% if photo.profilePicture == true %}
                            {% set noProfile = false %}
                            <img class="img-responsive bottom-buffer" src="{{ vich_uploader_asset(photo, 'imageFile')| imagine_filter('my_widen_filter') }}"/>
                        {% endif %}
                    {% endfor %}
                    {% if noProfile == true %}
                        <img class="img-responsive bottom-buffer" src="{{ vich_uploader_asset(baby.photos|first, 'imageFile')| imagine_filter('my_widen_filter') }}"/>
                    {% endif %}
                    {% else %}    
                    <img src="/mybaby/web/uploads/images/photos/shutterstock_464300804-776x600.jpg" />
                {% endif %}
            </div>
            <div class="col-sm-4">
                <p>{{baby.firstname}} 
                    {% if baby.nickName is not empty%}
                    "{{baby.nickName}}"
                    {%endif%}
                    {{baby.lastname}}</p>
                <p>Naissance :</p>
                <p>né le {{baby.birthDate|date('d-m-Y')}} à {{baby.birthPlace}}</p>
                <p>mesure {{baby.birthHeight}}</p>
                <p>pèse {{baby.birthWeight}}</p>
            </div>
        </div>
        <a class="btn btn-link btn-sm" href="{{ path('edit_baby', {'idBaby': baby.id})}}" role="button">Modifier le profil »</a>
    {% endif %}
{#    <a class="btn btn-link btn-sm" href="{{ path('new_parent') }}" role="button">Créer un membre de la famille »</a>#}
{% endblock %}