<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}mybaby{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="icon" type="image/x-icon" href="{{ asset('build/images/favicon.ico') }}">
    <link rel="stylesheet" href="{{ asset('build/global.css') }}">
    <link rel="stylesheet" href="{{ asset('build/app-stylesheet.css') }}">
    <link rel="stylesheet" href="{{ asset('build/nav.css') }}">
    <link rel="stylesheet" href="{{ asset('build/dropzone-stylesheet.css') }}">
    <link rel="stylesheet" href="{{ asset('build/fancybox-stylesheet.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css" integrity="sha256-bLNUHzSMEvxBhoysBE7EXYlIrmo7+n7F4oJra1IgOaM=" crossorigin="anonymous" />
</head>
<body>

<nav style="margin-bottom: 20px; box-shadow: 0 4px 10px -2px #80808052;" class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
    <div class="mx-auto order-0">
        <a id="website-title" class="navbar-brand mx-auto" href="{{ path('index')}}">
            <h1>mybaby</h1>
        </a>
        <span style="padding-left:20px; color:deeppink; text-transform: uppercase;">L'album bébé solidaire et écologique</span>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse order-3 dual-collapse2" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                {% if app.user %}
                    <p class="nav-link">Bonjour {{ app.user.username }}<span class="sr-only">(current)</span></p>
                {% else %}
                    <a class="nav-link" href="{{ path('app_login') }}">Se connecter <span class="sr-only">(current)</span></a>
                {% endif %}

            </li>
            <li class="nav-item">
                {% if app.user %}
                <a class="nav-link" href="{{ path('app_logout') }}">Se déconnecter</a>
                {% else %}
                <a class="nav-link" href="{{ path('create_account') }}">Créer un compte</a>
                {% endif %}
            </li>
        </ul>
    </div>
    </div>
</nav>

{#<nav class="navbar navbar-default navbar-fixed-top">#}
{#    <div class="container">#}
{#        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">#}
{#            <ul class="nav navbar-nav navbar-left">#}
{#                <li><a id="website-title" href="{{ path('index')}}">mybaby</a></li>#}
{#            </ul>#}
{#            <ul class="nav navbar-nav navbar-right">#}
{#                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}#}
{#                    <li class="dropdown">#}
{#                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ app.user.username }} <span class="caret"></span></a>#}
{#                        <ul class="dropdown-menu">#}
{#                            <li role="separator" class="divider"></li>#}
{#                            <li><a href="{{ path('app_logout') }}">#}
{#                                    Logout#}
{#                                </a></li>#}
{#                        </ul>#}
{#                    </li>#}
{#                {% else %}#}
{#                    <li><a href="{{ path('app_login') }}">Login</a></li>#}
{#                {% endif %}#}
{#            </ul>#}
{#        </div>#}
{#    </div>#}
{#</nav>#}
<div class="container-fluid" role="main">
    <div class="row">
        {% block name %}
        {% endblock name %}
        {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="flash-{{ type }} alert-{{ type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}
    </div>
    {% block content %}
    {% endblock content %}
</div>
{#<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>#}
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
{#<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>#}
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.js" integrity="sha256-JIBDRWRB0n67sjMusTy4xZ9L09V8BINF0nd/UUUOi48=" crossorigin="anonymous"></script>#}

{#<script src="{{ asset('build/app.js') }}"></script>#}
{#<script src="{{ asset('build/dropzone.js') }}"></script>#}
{#<script src="{{ asset('build/fancybox.js') }}"></script>#}
{#<script src="{{ asset('build/photos.js') }}"></script>#}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
