{% extends "base.html.twig" %}

{% form_theme form _self %}

{%- block date_widget  -%}
    {% if widget == 'single_text' %}
        <datepicker v-model="birthDate" name="birthDate" id="birthDate" class="form-control"></datepicker>
    {%- else -%}

    {%- endif -%}
{%- endblock date_widget -%}

{% block content %}
<div class="row" id="app">
    <div class="col-sm-4">
        <h2>Naissance</h2>
        {{ form_start(form) }}
        {{ form_row(form.birthDate,{'attr':{'v-model':'birthDate'}}) }}
        {{ form_row(form.birthPlace,{'attr':{'v-model':'birthPlace'}}) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
    <div class="col-sm">
        <p>Je suis né le ${ birthDate.getDate()+' '+months[birthDate.getMonth()]+' '+birthDate.getFullYear() } à ${ birthPlace }</p>
    </div>
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('birth') }}
    {{ encore_entry_script_tags('photos') }}
{% endblock %}

